{% extends 'bas.html' %}


{% block TITLE %}HOME{% endblock TITLE %}
{% block body %}

<div class="px-4 py-5 my-0 text-center">
    <img class=" mx-auto mb-4" src="https://source.unsplash.com/random/500x500?ganesh" alt="" width="100px" height="100px">
    <h1 class="display-5 fw-bold">D.M.T  COMPANY</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">DADHIMATI MATESHWARI TEA COMPANY  was established in year 2003 by Mr. MATADEEN JI DADHEECH under the bleassungs of LATE. SITARAM JI DAIMA.

Its headquatar is located in Jaipur. It has branches in Ramgarh Shekhawati , Bissau , Sikar.

      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="/" class="btn btn-primary btn-lg px-4 gap-3">GO BACK</a>
        {% comment %} <button type="button" class="btn btn-outline-secondary btn-lg px-4">Secondary</button> {% endcomment %}
      </div>
    </div>
  </div>



{% endblock body %}