<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: black;">
  <h2
  style="
      color: aliceblue;
      text-align: center;
  " >D.M.T COMPANY</h2>
<div></div>
<img src="https://source.unsplash.com/random/1200x400?debitcard" alt="">


<div style="text-align: center; margin-top: 40px;  position: absolute; top: 50vh; left: 10vh;">
    <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JlK6x2tcaa4KyD" async> </script> </form>
    {% comment %} <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_JlIvB6oNPPIuZa" async> </script> </form> {% endcomment %}
    <div style="margin-top: 10px">
        <a
          href="/"
          style="
            text-decoration: none;

            color: rgb(255, 255, 255);
            font-size: large;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman',
              serif;
            margin-top: 10px;
            background: rgb(55, 54, 57);
            padding: 2px;
            border-radius: 2px;
            padding-left: 31px;
            padding-right: 31px;
          "
          ><i>GO BACK</i></a
        >
      </div>

</div>
</body>
</html>